
.DS_Store
dropboxQt/.DS_Store
dropboxQt/prj/libdropboxQt.a
FitSDKRelease_21.105.00/.DS_Store
FitSDKRelease_21.105.00/cpp/*
FitSDKRelease_21.105.00/c/examples/*
FitSDKRelease_21.158.00/.DS_Store
FitSDKRelease_21.158.00/cpp/*
FitSDKRelease_21.158.00/c/examples/*
QMapControl/.DS_Store
WaoStats.pro.user
QMapControl/lib/libqmapcontrol.1.0.0.dylib
QMapControl/lib/libqmapcontrol.1.0.dylib
QMapControl/lib/libqmapcontrol.1.dylib
QMapControl/lib/libqmapcontrol.dylib
*.o
*.stash
moc_*.cpp
moc_*.h
dropboxQt/prj/Makefile
