name: Windows Release

on:
  workflow_dispatch:
    branches: [ "main" ]

env:
  SOURCE_DIR:   ${{ github.workspace }}

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master

    - name: Download JOM
      uses: suisei-cn/actions-download-file@master
      with:
        url:    http://download.qt.io/official_releases/jom/jom.zip
        target: ${{ runner.temp }}\

    - name: Unzip JOM
      working-directory: ${{ runner.temp }}
      run:  |
            7z x jom.zip -ojom

    - name: Install OpenSSL
      continue-on-error: true
      run: |
           choco install openssl --version=1.1.1.2100 -y
           dir "C:\Program Files\OpenSSL\"
           dir "C:\Program Files\OpenSSL\bin"
              
    - name: Install Qt
      run: |
           choco install qt5-default
           dir C:\Qt\5.15.2\mingw81_64\bin
           dir C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin

    - name: Build DropboxQt
      working-directory: ${{ env.SOURCE_DIR }}\dropboxQt\prj
      run: |
           C:\Qt\5.15.2\mingw81_64\bin\qmake.exe -r dropboxQt.pro
           make.exe
           dir

    - name: Create build directory
      run:  mkdir ${{ env.SOURCE_DIR }}\build

    - name: Build
      working-directory: ${{ env.SOURCE_DIR }}\build
      run: |
           C:\Qt\5.15.2\mingw81_64\bin\qmake.exe ${{ env.SOURCE_DIR }}\WaoStats.pro
           make.exe
           dir
           cd release
           C:\Qt\5.15.2\mingw81_64\bin\windeployqt WaoStats.exe
           copy C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\libgomp-1.dll .
           copy "C:\Program Files\OpenSSL\bin\libcrypto*" .
           copy "C:\Program Files\OpenSSL\bin\libssl*" .
           copy C:\Qt\5.15.2\mingw81_64\bin\Qt5OpenGL.dll .
           dir

    - name: Extract ADB
      working-directory: ${{ env.SOURCE_DIR }}\build\release
      run: |
           7z x ${{ env.SOURCE_DIR }}\adb\Windows\adb.zip
           dir

    - name: Rename release folder
      working-directory: ${{ env.SOURCE_DIR }}\build
      run: |
           ren release WaoStats
           dir

    - name: Save build artifact
      uses: actions/upload-artifact@master
      with:
        name: WaoStats
        path: ${{ env.SOURCE_DIR }}\build\WaoStats
